{{> menu}}

<div class="ui center aligned five column padded grid">
    <div class="stretched row">
        <div class="column">
            <div class="ui vertical fluid menu" style="background-color: black; color: white;">
                <div class="header item" style="background-color: black; color: white;">
                    {{playlist.title}} <i class="big icon map marker alternate grey"></i>
                </div>
            </div>
        </div>
  <div class="column">
            <div class="ui vertical fluid menu" style="background-color: black; color: white;">
                <div class="header item" style="background-color: black; color: white;">
                    Weather <i class="big icon cloud sun orange"></i>
                </div>
                <div class="item" style="background-color: black; color: white;">
                {{weatherCondition}}
                </div>
            </div>
        </div>
  <div class="column">
            <div class="ui vertical fluid menu" style="background-color: black; color: white;">
                <div class="header item" style="background-color: black; color: white;">
                    Temperature <i class="big icon temperature low blue"></i>
                </div>
                <div class="item" style="background-color: black; color: white;">
                      {{convertDegCtoF}} degF
                    <div class="item" style="background-color: black; color: white;">
                        {{lastReading.temperature}} degC
                        <div class="item" style="background-color: black; color: white;">
                            Min 
                            <div class="item" style="background-color: black; color: white;">
                                Max 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  <div class="column">
            <div class="ui vertical fluid menu" style="background-color: black; color: white;">
                <div class="header item" style="background-color: black; color: white;">
                    Wind <i class="big icon wind green"></i>
                </div>
                <div class="item" style="background-color: black; color: white;">
                     bft {{bft}}
                    <div class="item" style="background-color: black; color: white;">
                        direction {{compassDirection}}
                        <div class="item" style="background-color: black; color: white;">
                            Feels like {{windChill}}
                            <div class="item" style="background-color: black; color: white;">
                                Min
                                <div class="item" style="background-color: black; color: white;">
                                    Max 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  <div class="column">
            <div class="ui vertical fluid menu" style="background-color: black; color: white;">
                <div class="header item" style="background-color: black; color: white;">
                    Pressure <i class="big icon sun outline brown"></i>
                </div>
                <div class="item" style="background-color: black; color: white;">
                    {{lastReading.pressure}} hPa
                    <div class="item" style="background-color: black; color: white;">
                        Min  hPa
                        <div class="item" style="background-color: black; color: white;">
                            Max hPa
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>

  
<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{playlist.title}}
  </h2>
  <h4> Convert D to F : {{convertDegCtoF}}</h4>
  <h4> Latest Code Reading: {{lastReading.code}}</h4>
  <h4> Latest Code Meaning: {{weatherCondition}}</h4>
  <h4> Latest Temperature Reading: {{lastReading.temperature}}</h4>
  <h4> Latest pressure Reading: {{lastReading.pressure}}</h4>
  <h4> compassDirection {{compassDirection}}</h4>
  <h4> wind in Bft: {{bft}}</h4>
  <h4> wind chill: {{windChill}}</h4>
  <h4> min Temp: {{minTemp}}</h4>
  
  
  {{> listsongs}}
  {{> addsong}}
</section>
